<a href="https://colab.research.google.com/github/kota4239/homeworks/blob/main/Homework4_LakotaMaxwell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
# 1
fruits=["apple","banana","cherry"]

In [139]:
fruits_tuple=tuple(fruits)

In [140]:
fruits.append("orange")

In [141]:
print(fruits)
print(fruits_tuple)

['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry')

In [143]:
# 2
person={"first_name":"Lakota","last_name":"Maxwell","age": 22}

In [144]:
person["city"]="Fort Worth"

In [145]:
print(person.keys())

dict_keys(['first_name', 'last_name', 'age', 'city'])

In [146]:
# 3
colors=["red","blue","green"]

In [147]:
colors.append("yellow")
colors.remove("blue")

In [148]:
print("pink" in colors)

False

In [149]:
print(colors)

['red', 'green', 'yellow']

In [150]:
# 4
number=int(input("enter a number:"))
if(number>0):
  print("positive")
elif(number<0):
  print("negative")
else:
    print("zero")

enter a number:0
zero

In [151]:
# 5
numbers=[23,45,8,12,78,56,89]

In [152]:
for even in numbers:
  if(even % 2 ==0):
    print(even)

8
12
78
56

In [169]:
# 6
age=int(input("Enter Age:"))
if(age <18):
  print("You are not eligible to vote.")
if(age >=18):
  print("You can vote!")

Enter Age:22
You can vote!

In [171]:
# 7
Sum=0
Loop=input("Enter a number:")
while(Loop != "q"):
  Sum += int(Loop)
  Loop=input("Enter a number:")
print(Sum)

Enter a number:1
Enter a number:2
Enter a number:3
Enter a number:q
6

In [174]:
# 8
number=10
while number>0:
  print(number)
  number -= 1
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [185]:
# 9
number = int(input("Enter a Number:"))
second_number=1
result= ""
while(second_number<=10):
  result = str(number)+"*"+str(second_number)+"="+str(number*second_number)
  second_number+=1
  print(result)

Enter a Number:22
22*1=22
22*2=44
22*3=66
22*4=88
22*5=110
22*6=132
22*7=154
22*8=176
22*9=198
22*10=220

In [188]:
# 10
list=["apple","banana","cherry","date"]
for fruit in list:
  print(fruit)

apple
banana
cherry
date

In [201]:
# 11
number=int(input("Enter an Integer:"))
factorial=1
for x in range(1,number+1):
  factorial=factorial*x
print("Sum:",factorial)

Enter an Integer:5
Sum: 120

In [205]:
# 12
a=0
for x in range (0,5):
  number=int(input("Enter an Integer:"))
  a+=number
print("average:",a/5)

Enter an Integer:5
Enter an Integer:6
Enter an Integer:2
Enter an Integer:10
Enter an Integer:9
average: 6.4